*{
    margin: 0%;
    padding: 0%;
}

:root{
    --pink: rgb(123, 68, 182);
    --purple: rgb(179, 43, 38);
}
.all{
    background:linear-gradient(90deg, rgb(249,249,249) 0%, rgb(210,210,210) 39.58%, rgb(250,250,250) 100%);;
    min-height: 100vh;
    padding: 5%;
    font-family: "Neuton", sans-serif;
}

main{
    background-color: white;
    box-shadow:  34px 34px 68px #c6c6c6,
             -34px -34px 68px #ffffff;
    padding: 5%;
}

h1{
    width: fit-content;
    margin: auto;
    background-image: linear-gradient(to right, var(--pink), var(--purple));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    font-weight: 900;
    font-size: 64px;
    
}

h2{
    margin: auto;
    width: fit-content;
}

section{
    border: 1px solid rgb(243, 223, 218);
    border-top: 4px solid rgb(189,161,154);
    border-radius: 8px 8px 2px 2px;
    margin: 40px 0px;
    padding: 10px;


}





@media screen  and (max-width:700px){
    h1{
        font-size: 45px;
    }
    h2{
        font-size: 23px;
        text-align: center;
    }
}