*{
    margin: 0%;
    padding: 0%;
}

:root{
    --purple: rgb(35, 47, 188);
    --pink: rgb(62, 116, 191);
}
.all{
    background-color: rgb(212, 212, 212);
    min-height: 100vh;
    padding: 5%;
    font-family: "Neuton", sans-serif;
}

a{
    text-decoration: none;
}
main{
    background-color: white;
    box-shadow:  14px 14px 28px #c6c6c6,
             -14px -14px 28px #dcdcdc;
    padding: 5%;
    max-width: 1000px;
    margin: auto;
}

h1{
    width: fit-content;
    margin: auto;
    background-image: linear-gradient(to right, var(--pink), var(--purple));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    font-weight: 900;
    font-size: 64px;
    
}

h2{
    margin: auto;
    width: fit-content;
}

section{
    border: 1px solid rgb(193, 186, 215);
    border-top: 4px solid rgb(54, 69, 146);
    border-radius: 8px 8px 2px 2px;
    margin: 40px 0px;
    padding: 10px;
    width: 250px;
    max-width: 70vw;


}

.gold{
    margin-left: 200px;
}

.sections{
    width: max-content;
    margin: auto;
    padding-right: 10%;
}


aside, footer{
    width: fit-content;
    margin: auto;
}


aside{
    font-size: 1.1em;
    padding: 20px;
    text-align: center;
}

footer{
    font-size: 1.5em;
    color: rgb(117,117,117);
    text-align: center;
    padding: 30px 10px;
}


.icons{
    width: fit-content;
    margin: auto;
}

.icons img{
    width: 30px;
    height: 30px;
    margin: 15px;
}


@media screen  and (max-width:700px){
    h1{
        font-size: 45px;
    }
    h2{
        font-size: 23px;
        text-align: center;
    }
    .gold{
        margin-left: 0px;
    }

    .icons img{
        width: 23px;
        height: 23px;
        margin: 15px;
    }
}